<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creative.mahir_floral_management">
    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".appdata.MydApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".view.activity.DemandedStocksActivity"></activity>
        <activity android:name=".view.activity.ShopAvailableReadyStockActivity" />
        <activity
            android:name=".view.activity.ShopSoldStocksActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ShopStocksActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ShopActivity"
            android:label="@string/title_activity_shop"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".view.activity.TimeSheetActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.CheckInOutActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.HQActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.AdminMenuActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.StaffRegistrationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RawStockActivity"
            android:label="@string/name_raw_screen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.RawStockEntryActivity"
            android:label="@string/name_raw_entry_screen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ReadyStockActivity"
            android:label="@string/name_ready_screen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ReadyStockEntryActivity"
            android:label="@string/name_ready_entry_screen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ShopIncomingStocksActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>